<nav>
    <div class="set-title">
        <a href="/">To-Do App</a>
    </div>
    <ul class="nav-links">
        <li><a href="/task">Home</a></li>
        <li><a href="/task/signin">Sign in</a></li>
        <li><a href="/task/about">About</a></li>
    </ul>
</nav>
